<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <meta name="description" content="" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/img/favicon.png" type="image/x-icon" />
    <link rel="icon" href="~/img/favicon.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i&amp;subset=latin-ext" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/animations.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/colorbox.css" rel="stylesheet" />
    <link href="~/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>

    <header>
        <div class="top-line"></div>
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">
                        <div class="logo">
                            <a href="/"><img src="~/img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 " style="position: relative">

                        <div class="menu">
                            <a href="/"><i class="fa fa-home"></i></a>
                            <a href="@Url.Action("Index","Articles")">Articles</a>
                            <a href="@Url.Action("Index","Contributors")">Contributors</a>
                            <a href="/contact">Contact</a>
                        </div>

                        <div class="drop-down-overlay hidden"></div>

                        <div class="practice-drop hidden">
                            <input type="text" placeholder="Filter practice area..." onkeyup="$.a.practiceFilter(this.value);">
                            <div class="mCustomScrollbar practice-list text-left">
                                <a href='/Articles'>Civil Law</a>
                                <a href='/Articles'>Constitutional Law</a>
                                <a href='/Articles'>UE Law</a>
                            </div>
                        </div>

                        <div class="contributors-drop hidden">
                            <input type="text" placeholder="Filter contributors..." onkeyup="$.a.contributorsFilter(this.value);">
                            <div class="mCustomScrollbar contributors-list text-left">
                                <a href='/Contributors'>Orçun Çetinkaya</a>
                            </div>
                        </div>

                        <div class="countries-drop hidden">
                            <input type="text" name="" id="" placeholder="Filter countries..." onkeyup="$.a.countriesFilter(this.value);">
                            <div class="mCustomScrollbar countries-list text-left">
                                <a href='/Articles'>Burundi</a>
                                <a href='/Articles'>Dominica</a>
                                <a href='/Articles'>Falkland Islands</a>
                                <a href='/Articles'>Madagascar</a>
                                <a href='/Articles'>Turkey</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="pull-right newsletter-form">
                            <div class="pull-left"><input type="text" name="email" id="newsletter-email" placeholder="Subscribe to newsletter"></div>
                            <div class="pull-left"><button onclick="$.a.newsletter(this);">Submit</button></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="pull-right social">
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="footer-logo">
                        <a href="/"><img src="~/img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <b>Legal Policy</b><br />
                    <a href="/content/1/user-agreement-and-disclaimer">User Agreement and Disclaimer</a><br />
                    <a href="/content/2/editorial-guidlines">Editorial Guidelines</a><br />
                    <a href="/content/3/editorial-policy">Editorial Policy</a><br />
                </div>
                <div class="col-md-3">
                    <b>Contact</b><br />
                    <a href="/contact">General Information</a><br />
                </div>
            </div>
        </div>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAazQKg4jyOr3P0fJ6PlZ0Msn6ykbPBWGo"></script>
    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.colorbox-min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script>var URL = "//www.turkishlawblog.tk/";</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/js/application.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
