@using Law.Web.Models
@using Law.Models
@model FilterModel
<section class="search">
    <div class="container">
        <div class="search-form">

            <form asp-controller="Articles" asp-action="Index">
                <div class="pull-left">
                    <select name="practice" data-placeholder="Choose a Practice..." class="select2 practices" tabindex="2" style="width: 200px">
                        <option></option>
                        @foreach (PracticeArea area in Model.Practices)
                        {
                            if (!string.IsNullOrEmpty(Model.selectedPractice) && area.ID == Model.selectedPractice)
                            {
                                <option selected value="@area.ID">@area.Name</option>
                            }
                            else
                            {
                                <option value="@area.ID">@area.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="pull-left">
                    <select name="contributor" data-placeholder="Choose a Contributor..." class="select2 contributors" tabindex="2" style="width: 200px;">
                        <option></option>
                        @foreach (Contributor contributor in Model.Contributors)
                        {
                            if (!string.IsNullOrEmpty(Model.selectedContributor) && contributor.ID == Model.selectedContributor)
                            {
                                <option selected value="@contributor.ID">@contributor.Name</option>
                            }
                            else
                            {
                                <option value="@contributor.ID">@contributor.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="pull-left">
                    <select name="country" data-placeholder="Choose a Country..." class="select2 countries" tabindex="2" style="width: 200px">
                        <option></option>
                        @foreach (Country country in Model.Countries)
                        {
                            if (!string.IsNullOrEmpty(Model.selectedCountry) && country.ID == Model.selectedCountry)
                            {
                                <option selected value="@country.ID">@country.Name</option>
                            }
                            else
                            {
                                <option value="@country.ID">@country.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="pull-left">
                    <select name="city" data-placeholder="Select a City..." class="select2 cities" @(string.IsNullOrEmpty(Model.selectedCountry)?"disabled":"") tabindex="2" style="width: 200px">
                        <option></option>
                        @foreach (City city in Model.Cities)
                        {
                            if (!string.IsNullOrEmpty(Model.selectedCity) && city.ID == Model.selectedCity)
                            {
                                <option selected value="@city.ID">@city.Name</option>
                            }
                            else
                            {
                                <option value="@city.ID">@city.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="pull-right">
                    <div class="pull-left"><input type="text" name="keyword" id="q" placeholder="Keywords..." value="@(!string.IsNullOrWhiteSpace(Model.selectedKeyword)?Model.selectedKeyword:"")"></div>
                    <div class="pull-right"><button title="Search Now"><i class="fa fa-search"></i></button></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</section>