@using Law.Web.Models;
@using Law.Core;
@using Law.Models;

@model IndexViewModel
@{
    ViewData["Title"] = "Turkish Law Blog";
}


<section class="posts new">
    @Html.Partial("~/Views/Shared/_SearchComponent.cshtml", Model.FilterModel)
    <div class="posts-header">
        <h2>For you</h2>
    </div>

    @foreach (Article article in Model.PopularArticles)
    {
        Contributor contributor = Model.RecentContributors.FirstOrDefault(x => x.ID == article.ContributorID);
        if (contributor != null)
        {
            <div class="post-container">
                <div class="post-top">
                    <div class="post-header">
                        <a href="@Url.Action("Article", "Articles", new { id = article.ID })">
                            <h3>@article.Title</h3>
                        </a>
                    </div>
                    <div class="post-description">
                        <a href="@Url.Action("Article", "Articles", new { id = article.ID })">
                            <h4>@article.BodyPreview</h4>
                        </a>
                    </div>
                </div>
                <div class="post-owner">
                    <div class="owner-image">
                        <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">
                            <img src="@contributor.ImageURL.GetImageUrl()" />
                        </a>
                    </div>
                    <div class="owner-info">
                        <div class="owner-name">
                            <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">@contributor.Name</a>
                        </div>
                        <div class="affiliate">
                            <span>
                                Nye Law & Consultancy
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</section>

<section class="posts no-search">
    <div class="posts-header">
        <h2>Latest articles</h2>
    </div>
    @foreach (Article article in Model.RecentArticles)
    {
        Contributor contributor = Model.RecentContributors.FirstOrDefault(x => x.ID == article.ContributorID);
        Affiliate affiliate = Model.Affiliates.FirstOrDefault(x => x.ID == contributor.AffiliateID);

        if (contributor != null)
        {
            <div class="post-container">
                <div class="post-top">
                    <div class="post-header">
                        <a href="@Url.Action("Article", "Articles", new { id = article.ID })">
                            <h3>@article.Title</h3>
                        </a>
                    </div>
                    <div class="post-description">
                        <a href="@Url.Action("Article", "Articles", new { id = article.ID })">
                            <h4>@article.BodyPreview</h4>
                        </a>
                    </div>
                </div>
                <div class="post-owner">
                    <div class="owner-image">
                        <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">
                            <img src="@contributor.ImageURL.GetImageUrl()" />
                        </a>
                    </div>
                    <div class="owner-info">
                        <div class="owner-name">
                            <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">@contributor.Name</a>
                        </div>
                        <div class="affiliate">
                            <span>
                                Nye Law & Consultancy
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</section>

