@using Law.Web.Models;
@using Law.Core;
@using Law.Models;

@model IndexViewModel
@{
    ViewData["Title"] = "Turkish Law Blog";
}


<section class="slider">

    <div class="container">
        <div class="row" style="padding: 0 5px">
            <div id="slider" class="owl-carousel">

                @foreach (Article article in Model.PopularArticles)
                {
                    Contributor contributor = Model.RecentContributors.FirstOrDefault(x => x.ID == article.ContributorID);
                    if (contributor != null)
                    {
                        <div class='item'>
                            <a href='@Url.Action("Contributor", "Contributors", new { id = contributor.ID })' class='image' style='background-image: url(@contributor.ImageURL);'></a>
                            <div class='title'>
                                <div class='caption'><a href='@Url.Action("Article", "Articles", new { id = article.ID })'>@article.Title</a></div>
                                <div class='tools'>
                                    <div class='pull-left'><i class='fa fa-user-circle-o'></i> <a href='@Url.Action("Contributor", "Contributors", new { id = contributor.ID })'>@contributor.Name</a></div>
                                    <div class='pull-left'><i class='fa fa-calendar'></i> @article.CreationDate.ToLongDateString()</div>
                                    <div class='pull-left'><i class='fa fa-eye'></i>  @article.ViewCount</div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_SearchComponent.cshtml", Model.FilterModel)
</section>

<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>ABOUT <b>TURKISH LAW BLOG</b></h2>
                <b>Who are We?</b>
                <p>Turkish Law Blog (TAB) is a publication of BO Media providing information and news on Turkish Law. We have gathered together leading experts from law firms and academia to report on the latest developments. They in turn have enlisted professional colleagues of diverse backgrounds to offer both established and new voices into the mix. The result is a fresh, high-quality, and timely examination of Turkish Law.</p>

                <b>What Is Our Focus?</b>
                <p>We are a new kind of media. Our focus is traditional — the significant awards, the latest developments, the upcoming events — but our format is new. The result is a serious, high-quality, professional blog about international arbitration presented in a timely, fresh way.</p>

                <b>What is Your Role?</b>
                <p>Of course we welcome you as a faithful reader, but we also welcome your comments. The blog format provides an opportunity for everyone to participate, but comments must respect our <a href="/content/3/editorial-policy">Editorial Policy</a>. We also will be inviting guest bloggers to contribute from time to time.</p>

            </div>
        </div>
    </div>
</section>

<section class="latest-posts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>LATEST <b>ARTICLES</b></h2>
                <div class="posts">
                    <div class="item">
                        @foreach (List<Article> articleRow in Model.RecentArticles.ChunkBy(4))
                        {
                            <div class='row'>
                                @foreach (Article article in articleRow)
                                {
                                    Contributor contributor = Model.RecentContributors.FirstOrDefault(x => x.ID == article.ContributorID);
                                    Affiliate affiliate = Model.Affiliates.FirstOrDefault(x => x.ID == contributor.AffiliateID);

                                    if (article.Title.Length > 45)
                                    {
                                        article.Title = article.Title.Substring(0, 45) + "...";
                                    }

                                    if (article.Body.Length > 200)
                                    {
                                        article.Body = article.Body.Substring(0, 200) + "...";
                                    }

                                    if (contributor != null)
                                    {
                                        <div class='col-md-3'>
                                            <div class='post'>
                                                <div class='title'><a href='@Url.Action("Article", "Articles", new { id = article.ID })'>@article.Title</a></div>
                                                <div class='text'>
                                                    @article.BodyPreview
                                                </div>
                                                <div class='author'>
                                                    <div class='pull-left'><img src='@contributor.ImageURL' alt=''></div>
                                                    <div class='pull-left'>
                                                        <b><a href='@Url.Action("Contributor", "Contributors", new { id = contributor.ID })'>@contributor.Name</a></b>
                                                        @if (affiliate != null)
                                                        {
                                                            <span>@affiliate.Name</span>
                                                        }
                                                    </div>
                                                    <div class='clearfix'></div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <br>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="latest-authors">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>LATEST <b>CONTRIBUTORS</b></h2>
                <div class="row">
                    <div id="authors" class="owl-carousel">
                        @foreach (Contributor contributor in Model.RecentContributors.OrderByDescending(x => x.CreationDate).Take(5).ToList())
                        {
                            Affiliate affiliate = Model.Affiliates.FirstOrDefault(x => x.ID == contributor.AffiliateID);
                            <a href='@Url.Action("Contributor", "Contributors", new { id = contributor.ID })'>
                                <div class='col-md-12 author'>
                                    <div class='image' style='background-image: url(@contributor.ImageURL)'></div>
                                    <div class='title'>
                                        <b>@contributor.Name</b>
                                        <span>@affiliate.Name</span>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>