@using Law.Models;
@{
    ViewData["Title"] = "Yazar Ekle";
}

@model ContributorAddEditModel

<div class="right_col" role="main">
    <div>
        <div class="page-title">
            <div class="title_left">
                <h3>Yazar Ekleme</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <form class="first-section form-horizontal form-label-left" novalidate>
                            <span class="section">Genel Bilgiler</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    İsim <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="name" name="name" class="form-control col-md-7 col-xs-12" required="required" type="text" value="@Model.Name">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Ülke <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="country" data-placeholder="Ülke seçin" class="select2 countries" tabindex="2" style="width: 100%;">
                                        <option></option>
                                        @if (Model.CountryID != null)
                                        {
                                            <option selected value="@Model.CountryID">@Model.CountryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Şehir <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="city" data-placeholder="Şehir seçin..." class="select2 cities" tabindex="2" style="width: 100%">
                                        <option></option>
                                        @if (Model.CityID != null)
                                        {
                                            <option selected value="@Model.CityID">@Model.CityName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Şirket <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select name="affiliate" data-placeholder="Şirket seçin..." class="select2 affiliates" tabindex="2" style="width: 100%">
                                        <option></option>
                                        @if (Model.AffiliateID != null)
                                        {
                                            <option selected value="@Model.AffiliateID">@Model.AffiliateName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    E-mail <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="mail" name="mail" class="form-control col-md-7 col-xs-12" required="required" type="text" value="@Model.Email">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Biyografi <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="quill bio form-control col-md-7 col-xs-12">@Html.Raw(Model.Bio)</div>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Resim <span class="required">*</span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    @if (!string.IsNullOrEmpty(Model.ImageURL))
                                    {
                                        <img src="@Model.ImageURL" width="200" data-image-url="@Model.ImageURL" />
                                    }
                                    else
                                    {
                                        <div action="@Url.Action("UploadImage")"
                                             class="dropzone"></div>
                                    }
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="send" type="submit" class="btn btn-success">Kaydet</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
Dropzone.autoDiscover = false;

function createDropzone(element) {
    $(element).dropzone({
        addRemoveLinks: true,
        maxFiles: 1,
        url: "@Url.Action("UploadImage")",
        complete: function () {
            var args = Array.prototype.slice.call(arguments);
            var response = JSON.parse(args[0].xhr.response);

            if (response.success) {
                console.log(response.message)
                console.log(this)
                $(this.element).attr("data-image-url", response.url)
            }
            else {
                console.log(response.message)
            }
        }
    })
};

function checkInput() {
    let message = "";
    $(".bad").removeClass("bad");
    if (!$("#name").val()) {
        message = setMessage(message, "Lütfen bir isim giriniz");
        $("#name").closest("div").addClass("bad");
    }

    if (!$(".countries").val()) {
        message = setMessage(message, "Lütfen bir ülke seçiniz");
        $(".countries").closest("div").addClass("bad");
    }

    if (!$(".cities").val()) {
        message = setMessage(message, "Lütfen bir şehir seçiniz");
        $(".cities").closest("div").addClass("bad");
    }

   if (!$("[data-image-url]").attr("data-image-url")) {
        message = setMessage(message, "Lütfen bir resim yükleyinizz");
        $("#articleTitle").closest("div").addClass("bad");
    }

    if (message) {
        $.snackbar({ content: message, htmlAllowed: true });
        return false;
    }
    else {
        return true;
    }
}

function setMessage(message,content) {
    if (message.length > 0) {
        message += "<br>";
    }
    message += content;
    return message;
}

$(function () {

    $("form").submit(function (e) {
        return false;
    });

    $(".quill").each(function () {
        new Quill(this, {
            modules: {
                toolbar: [
                    ['bold', 'italic'],
                    ['link', 'blockquote'],
                    [{ list: 'ordered' }, { list: 'bullet' }]
                ]
            },
            theme: 'snow'
        });
    })
    createDropzone($(".dropzone"));

    $("#send").click(function () {
        if (!checkInput()) {
            return;
        }

        let articleModel = {
            ID: "@Model.ID",
            Name: "",
            Bio: "",
            Email: "",
            CountryID: "",
            CityID: "",
            AffiliateID: "",
            ImageURL: "",
        }

        articleModel.Name = $("#name").val();
        articleModel.Bio = $(".ql-editor").html();
        articleModel.Email = $("#mail").val();
        articleModel.CountryID = $(".countries").val();
        articleModel.CityID = $(".cities").val();
        articleModel.AffiliateID = $(".affiliates").val();
        articleModel.ImageURL = $("[data-image-url]").attr("data-image-url");


        $.ajax({
            type: "POST",
            url: "@Url.Action("AddContributorPost")",
            data: articleModel,
            success: function (result) {
                $.snackbar({ content: result.message });
            },
            dataType: "json"
        });
    });
})
    </script>
}