@using Law.Models
@{
    ViewData["Title"] = "Articles";
}

@model ArticlesViewModel

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>İçerik Yönetimi</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <a href="@Url.Action("AddArticle")" class="btn btn-success" role="button">Yeni bir makale ekleyin</a>
                    </div>
                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped projects">
                                <thead>
                                    <tr>
                                        <th class="column-title">Başlık </th>
                                        <th class="column-title">Yazar </th>
                                        <th class="column-title">Alan</th>
                                        <th class="column-title">Ülke </th>
                                        <th class="column-title">Şehir </th>
                                        <th class="column-title no-link last">
                                            <span class="nobr">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Article article in Model.FoundArticles)
                                    {
                                        Contributor contributor = Model.RelatedContributors.FirstOrDefault(x => x.ID == article.ContributorID);
                                        if (contributor == null)
                                        {
                                            contributor = new Contributor("-1", "Yazar Bulunamadı");
                                        }

                                        PracticeArea practiceArea = Model.RelatedAreas.FirstOrDefault(x => x.ID == article.PracticeAreaID);
                                        if (practiceArea == null)
                                        {
                                            practiceArea = new PracticeArea("-1", "Alan Bulunamadı");
                                        }

                                        Country country = Model.Countries.FirstOrDefault(x => x.ID == article.CountryID);
                                        if (country == null)
                                        {
                                            country = new Country("-1", "Ülke Bulunamadı");
                                        }

                                        City city = Model.Cities.FirstOrDefault(x => x.ID == article.CityID);
                                        if (city == null)
                                        {
                                            city = new City("-1", "-1", "Şehir Bulunamadı");
                                        }
                                        <tr>
                                            <td>
                                                <a>@article.Title</a>
                                                <br />
                                                <small>@article.CreationDate.ToShortDateString()</small>
                                            </td>
                                            <td>
                                                <ul class="list-inline">
                                                    <li>
                                                        <img src="@contributor.ImageURL" class="avatar" alt="Avatar">
                                                        <small style="line-height:35px;padding-left:5px;">@contributor.Name</small>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td>
                                                @practiceArea.Name
                                            </td>
                                            <td>
                                                @country.Name
                                            </td>
                                            <td>
                                                @city.Name
                                            </td>
                                            <td>
                                                <a href="@article.ID.GetWebArticleUrl()" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                                <a href="@Url.Action("AddArticle", "Home", new { id = article.ID })" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                                <a href="@Url.Action("RemoveArticle", "Home", new { id = article.ID ,page=Model.FoundArticles.PageIndex})" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            <nav>
                                <ul class="pagination pg-darkgrey">
                                    @{
                                        List<int> range = new List<int>();
                                        int current = Model.FoundArticles.PageIndex;
                                        int delta = 3;
                                        int left = current - delta;
                                        int right = current + delta + 1;
                                        int last = Model.FoundArticles.TotalPages;

                                        @for (int i = 1; i <= Model.FoundArticles.TotalPages; i++)
                                        {
                                            if (i == 1 || i == last || i >= left && i < right)
                                            {
                                                range.Add(i);
                                            }
                                        }

                                        int l = -1;
                                        foreach (int i in range)
                                        {
                                            if (l > -1)
                                            {
                                                if (i - l == 2)
                                                {
                                                    <li class="page-item @(i==current?"active":"")"><a href="@Url.Action("Articles", "Home", new { page=l+1 })" class="page-link">@(l + 1)</a></li>
                                                }
                                                else if (i - l != 1)
                                                {
                                                    <li class="page-item"><a class="page-link">...</a></li>
                                                }
                                            }
                                            @Html.Raw("<li class=\"page-item " + (i == current ? "active" : "")+"\"><a  href=\"" + @Url.Action("Articles", "Home", new { page = i }) + "\" class=\"page-link\">" + i + "</a></li>")

                                            l = i;
                                        }
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>