@using Law.Models
@{
    ViewData["Title"] = "Home Page";
}

@model IndexViewModel

<div class="right_col" role="main" style="min-height:100vh">
    <div class="">
        <div class="row top_tiles" style="margin: 10px 0;">
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Toplam Yazar</span>
                <h2>@Model.TotalContributors Adet</h2>
                <span class="sparkline_one" style="height: 160px;">
                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Toplam Makale</span>
                <h2>@Model.TotalArticles Adet</h2>
                <span class="sparkline_one" style="height: 160px;">
                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Toplam Şirket</span>
                <h2>@Model.TotalAffiliates Adet</h2>
                <span class="sparkline_two" style="height: 160px;">
                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                </span>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                <span>Toplam Okunma</span>
                <h2>@Model.TotalViews Adet</h2>
                <span class="sparkline_one" style="height: 160px;">
                    <canvas width="200" height="60" style="display: inline-block; vertical-align: top; width: 94px; height: 30px;"></canvas>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>En çok makale yazanlar</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (Contributor contributor in Model.MostWrittenContributors)
                        {
                            <article class="media event">
                                <a class="pull-left date">
                                    <p class="day"><img src="@contributor.ImageURL"  width="40"/></p>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">@contributor.Name</a>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>En çok okunan yazılar</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (Article article in Model.MostReadArticles)
                        {
                            <article class="media event">
                                <a class="pull-left date">
                                    <p class="day" style="font-size:17px">@article.ViewCount</p>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">@article.Title</a>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>En çok okunan yazarlar</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        @foreach (Contributor contributor in Model.MostReadContributors)
                        {
                            <article class="media event">
                                <a class="pull-left date">
                                    <p class="day"><img src="@contributor.ImageURL" width="40"/></p>
                                </a>
                                <div class="media-body">
                                    <a class="title" href="#">@contributor.Name</a>
                                </div>
                            </article>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>