@using Law.Web.Models;
@using Law.Core;
@using Law.Models;
@model ArticleSearchViewModel
@{
    ViewData["Title"] = "Turkish Law Blog - Articles";
}

<div class="Page PracticePage">
    @Html.Partial("~/Views/Shared/_SearchComponent.cshtml", Model.FilterModel)
                <div class=" posts article-search">
                    @*<h1>Found Articles</h1>*@

                    <div class="results">
                        @foreach (Article article in Model.FoundArticles)
                        {
                            Contributor contributor = Model.RelatedContributors.FirstOrDefault(x => x.ID == article.ContributorID);
                            Affiliate affiliate = Model.RelatedAffiliates.FirstOrDefault(x => x.ID == article.AffiliateID);

                            if (contributor != null && affiliate != null)
                            {
                                <div class="post-container">
                                    <div class="post-top">
                                        <div class="post-header">
                                            <a href="@Url.Action("Article", "Articles", new { id = article.ID })">
                                                <h3>@article.Title</h3>
                                            </a>
                                        </div>
                                        <div class="post-description">
                                            <a href="@Url.Action("Article", "Articles", new { id = article.ID })">
                                                <h4>@article.BodyPreview</h4>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="post-owner">
                                        <div class="owner-image">
                                            <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">
                                                <img src="@contributor.ImageURL.GetImageUrl()" />
                                            </a>
                                        </div>
                                        <div class="owner-info">
                                            <div class="owner-name">
                                                <a href="@Url.Action("Contributor", "Contributors", new { id = contributor.ID })">@contributor.Name</a>
                                            </div>
                                            <div class="affiliate">
                                                <span>
                                                    Nye Law & Consultancy
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                    <nav>
                        <ul class="pagination pg-darkgrey">
                            @{
                                List<int> range = new List<int>();
                                int current = Model.FoundArticles.PageIndex;
                                int delta = 3;
                                int left = current - delta;
                                int right = current + delta + 1;
                                int last = Model.FoundArticles.TotalPages;

                                @for (int i = 1; i <= Model.FoundArticles.TotalPages; i++)
                                {
                                    if (i == 1 || i == last || i >= left && i < right)
                                    {
                                        range.Add(i);
                                    }
                                }

                                int l = -1;
                                foreach (int i in range)
                                {
                                    if (l > -1)
                                    {
                                        if (i - l == 2)
                                        {
                                            <li class="page-item @(i==current?"active":"")"><a href="@Url.Action("Index", "Articles", new { page=l+1 })" class="page-link">@(l + 1)</a></li>
                                        }
                                        else if (i - l != 1)
                                        {
                                            <li class="page-item"><a class="page-link">...</a></li>
                                        }
                                    }
                                    @Html.Raw("<li class=\"page-item " + (i == current ? "active" : "") + "\"><a  href=\"" + @Url.Action("Index", "Articles", new { page = i }) + "\" class=\"page-link\">" + i + "</a></li>")

                                    l = i;
                                }
                            }
                        </ul>
                    </nav>
                </div>
</div>
